* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    width: 100vw;
}


.logo {
    color: rgb(141, 141, 141);
    opacity: 0.7;
    font-size: 25px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.5s;
}

.logo:hover {
    color: rgb(46, 46, 46);
    opacity: 1;
}
.navegacao a {
    font-size: 30px;
    color: #904100;
    opacity: 0.7;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .4s;
    font-weight: 600;
}

.navegacao a:hover,
.navegacao a.active {
    color: rgb(67, 35, 0);
    opacity: 1;
}

.navegacao {
    
    min-width: 320px;
}


.header{    
    box-shadow: 0px 0px 10px 3px rgb(138, 138, 138);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: rgba(201, 183, 166, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-between; /*criar espaços*/
    z-index: 100;
}


.page1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120vh;
    background-image: url(01.jpg);
    background-size: cover;
}

.page1 .first-page h1 {
    font-size: 40px;
    color: rgb(171, 121, 4);

}

.page1 .first-page h3 {
    text-align: center;
    color: #723a02;
    font-size: 25px;
    margin-bottom: 150px;
    
}

.page1 .first-page .icons {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 100px;
    color: #a95200;
    text-align: center;
    font-size: 40px;
    
}


.page2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 30px;
    justify-content: flex-end;
    background-image: url(02.jpg);
    background-size: cover;
    height: 120vh;
}
.page3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(03.jpg);
    background-size: cover;
    height: 120vh;
}



.home-content {
    text-align:justify;
    min-width: 300px;
}
.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.page2 div h3 {
    width: 800px;
    color: rgb(4, 3, 3);
    font-size: 18px;
    

}


.btn-box {
    display: flex;
    justify-content:flex-end;
    gap: 10px;
    width: 100vw;
    height: 35px;
    text-align: center;
    margin: 100px 0px 100px 0px;

}


.btn-box a{
    position: relative;
    display: inline;
    width: 150px;
    background: rgba(237, 185, 95, 0.307);
    border: 1px solid #a95200;;
    border-radius: 15px;
    font-size: 19px; 
    color: rgb(12, 12, 12);
    text-decoration: none;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: 0.8s;
}

.btn-box a:hover {
    
    color: wheat;
    box-shadow: 0px 0px 10px 3px rgb(244, 193, 139);
    
}

.btn-box a:nth-child(2) {
    background: transparent;
    color: black;
}

.btn-box a:nth-child(2):hover {
    color: #ffffff;
}

.btn-box a:nth-child(2)::before {
    background-color: rgb(222, 177, 108);
}

.btn-box a::before {
    content: "";
    position: absolute;
    border: goldenrod;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: black;
    z-index: -1;
    transition: .5s;
}
.btn-box a:hover::before {
    width: 100%;
}

footer {
 background-image: url(03.jpg);
 background-size: cover;
 text-align: center;
 color: black;
}